/* @font-face {
    font-family: 'Fira Sans';
    src: local('FiraSans-Regular'),
    url('/media/fonts/FiraSans-Regular.woff2') format('woff2');
} */

fieldset {
	float: right;
	width: 100px;
	background-color: rgb(43, 42, 42);
	color: #ddd;
}

legend {
    background-color: #000;
    color: #fff;
	padding: 3px 6px;
}

label {
    margin-top: 5px;
    display: block;
    font-size: 12px;
}

select {
	margin-bottom: 10px;
}

/* player mirrored bars */
#player {
	width: 300px;
	height: 80px;
	padding: 5px;
	background: black;
	margin: 5px;
}
audio {
	width: 300px;
	background: black;
	float: left;
}
#cnvs {
	width: 300px;
	height: 47px;
	background: rgb(30,30,30);
	float: left;
}


